{{ template "base" .}}

{{ define "content" }} 
<div id="container">
    {{range .Photo}}
    <a href="/info">
        <div class="link">
            <img class="image" src="{{.Image}}" alt="Image">
            <span id="name" >{{.Name}}</span> 
        </div>
    </a>
       {{end}}
</div>
{{ end }}