{{ template "base" .}}

{{ define "content" }}
    <div class="container">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas accusamus eos explicabo ab impedit maxime nihil, in natus vel doloremque fugit officiis tenetur laborum, sapiente repellat delectus ipsam illum nemo.</p>
    </div>
{{ end }}