* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    min-width: 1280px;
}

@font-face {
    font-family: 'Saturday';
    src: url('/asset/font/Saturday.ttf') format('truetype');
    /* Ajoutez d'autres déclarations de format pour les autres formats de police si nécessaire */
    font-weight: normal;
    font-style: normal;
}



@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* Ajoutez du style à la flèche ici si nécessaire */
.arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 36px;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.search-container{
    display: flex;
    flex-wrap: wrap;
}

/* Ajoutez du style pour l'animation de la flèche ici si nécessaire */
.arrow.active {
    animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#map {
    height:fit-content;
    width:fit-content;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.head{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.head a{
    text-decoration: none;
    color: white;
    margin: 0 12px ;
}

header h1 {
    font-family: 'Saturday', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
}
.princ{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'Saturday', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'Saturday', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}

#container {
    display: inline-block;
    width: 100% !important;
    overflow: hidden; 
}

/* Style pour le conteneur d'image */
.link {
    width: 150px;
    margin: 0 22px;
    text-align: center;
    border-radius: 17px;
}
.Links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
justify-content: center  ;
}


/* Style pour le lien/image */
.image-container a {
    width: 150px !important;
    text-decoration: none;
    text-align: center;
    color: inherit;
    display: block;
    /* Fait du lien un bloc pour couvrir l'image et le nom */
}



/* Style pour l'image elle-même */
.image {
    display: block;
    border-radius: 8px;
    /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre légère */
    width: 100%;
    /* Assure que l'image prend toute la largeur du conteneur */
    transition: scale 0.3s ease-in-out;
}

.image:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    /* Ombre légère */
    transition: ease-in-out 0.4s;
    transform: scale(1.2);
}

/* Style pour la balise span contenant le nom */
#name {
    display: block;
    /* Assure que le nom apparaît sous l'image */
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    /* Met en gras le nom */
}

.boite {
    display: inline-block;
    width: 50% !important;
}

#Errorbody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containere {
    display: flex;
    flex-direction: wrap;
}

.concertdates {
    padding: 0 12px;
}

.location {
    padding: 0 12px;
}